<div class="head-container">
    <div class="w">
        <div class="fl">
            <ul>
                <li>品优购欢迎你！</li>
                <li>
                    <a href="">请登录</a>
                    <a href="" class="red">欢迎注册</a>
                </li>
            </ul>
        </div>
        <div class="fr">
            <ul>
                <li><a href="">我的订单</a></li>
                <li class="spacer"></li>
                <li><a href="">我的品优购</a></li>
                <li class="spacer"></li>
                <li><a href="">品优购会员</a></li>
                <li class="spacer"></li>
                <li><a href="">企业采购</a></li>
                <li class="spacer"></li>
                <li><a href="">关注品优购</a></li>
                <li class="spacer"></li>
                <li><a href="">客户服务</a></li>
                <li class="spacer"></li>
                <li><a href="">网站导航</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="header w">
    <div class="logo">
        <h1>
            <a href="">品优购</a>
        </h1>
    </div>
    <div class="search">
        <input type="text" class="text">
        <button class="btn">搜索</button>
        <div class="hotwords">
            <a href="">办公用品</a>
            <a href="">电脑通信</a>
            <a href="">9.9元团购</a>
        </div>
    </div>
    <div class="shopcar">
        <i class="car"></i>我的购物车<i class="arrow"></i>
        <i class="count"> </i>
    </div>

</header>
<div class="nav">
    <div class="w">
        <div class="dropdown">
            <div class="dt">
                全部商品分类
            </div>
            <div class="dd">
                <ul>
                    <li class="menu-item">
                        <a href="">家用电器</a>
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navitem">
            <ul>
                <li>
                    <a href="">服装城</a>

                </li>
                <li><a href="">美妆馆</a></li>
                <li><a href="">全球超市</a></li>
                <li><a href="">全球购</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="w">
        <div class="mod_service">123</div>
    </div>
</div>