<div class="head-container">
    <div class="w">
        <div class="fl">
            <ul>
                <li>品优购欢迎你！</li>
                <li>
                    <a href="">请登录</a>
                    <a href="" class="red">欢迎注册</a>
                </li>
            </ul>
        </div>
        <div class="fr">
            <ul>
                <li><a href="">我的订单</a></li>
                <li class="spacer"></li>
                <li><a href="">我的品优购</a></li>
                <li class="spacer"></li>
                <li><a href="">品优购会员</a></li>
                <li class="spacer"></li>
                <li><a href="">企业采购</a></li>
                <li class="spacer"></li>
                <li><a href="">关注品优购</a></li>
                <li class="spacer"></li>
                <li><a href="">客户服务</a></li>
                <li class="spacer"></li>
                <li><a href="">网站导航</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="header w">
    <div class="logo">
        <h1>
            <a href="">品优购</a>
        </h1>
    </div>
    <div class="search">
        <input type="text" class="text">
        <button class="btn">搜索</button>
        <div class="hotwords">
            <a href="">办公用品</a>
            <a href="">电脑通信</a>
            <a href="">9.9元团购</a>
        </div>
    </div>
    <div class="shopcar">
        123
    </div>

</header>